name: CI

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    env:
      LIBCLANG_LIBRARY_PATH: /usr/lib/llvm-18/lib/libclang.so

    steps:
      - name: Check out source code
        uses: actions/checkout@v3
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64

      - name: Prepare Clang
        run: |
          sudo apt install clang libclang-dev
          sudo find / -name 'libclang*.so'
          export LIBCLANG_LIBRARY_PATH="$LIBCLANG_LIBRARY_PATH"

      - name: Check Python version
        run: python3 --version

      - name: Install dependencies
        run: pip install coverage pytest pytest-env clang==18 pylint click

      - name: Generate coverage report
        run: coverage run -m pytest . --env-libclang-path=/usr/lib/x86_64-linux-gnu/libclang-18.so

      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v4
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          # If you use a different name, update COMMENT_ARTIFACT_NAME accordingly
          name: python-coverage-comment-action
          # If you use a different name, update COMMENT_FILENAME accordingly
          path: python-coverage-comment-action.txt
  code-style:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      
      - name: Check Python version
        run: python3 --version
      
      - name: Install dependencies
        run: pip install coverage pytest clang pylint click
      
      - name: Run PyLint
        run: pylint ./src
